html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Secular One', sans-serif;
    text-align: center;
    color: white;
    background-color: pink;
}

header{
    top: 0;
    width: 100%;
    position: fixed;
    background-color: palevioletred;
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 1rem;
    text-shadow: 1px 1px purple;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;    
}


a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 1,5rem;
    text-shadow: 1px 1px purple;
    align-self: auto;
    
}

.foto{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.lista{
    display: flex;
    justify-content: space-around;

}

.lista li {
    border-radius: 10px;
}

.lista li:hover {
    background-color: rgb(211, 30, 75);
}


.lista-container{
    width: 100%;
}

h1{
    margin: 0;
}

.lista li{
    font-size: 1.5rem;
}

.som-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding: 2rem 0;
}

.som-container .container{
    padding: 1.5rem;
    border-radius: 1rem;
}

.som-container .container:hover{
    background-color: rgb(211, 30, 75);
}

.container img{
    width: 150px;
    height: 150px;

}

.som-container.fotos-album{
    width: 150px;
    height: 150px;
    gap: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h3{
    white-space: nowrap;
}

.hidden{
    display: none;
}
 
.show{
    display: block;
}

.musica-album{
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.tela-letra{
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.foto-doja{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.foto-doja img{
    justify-content: center;
    border-radius: 30px;
    border-color: white;
    border: 1.5rem;
}

.foto-doja1 img{
    border-radius: 30px;

}

.titulo h2{
    margin: 0;
    padding-top: 6rem;
}

p{
    text-shadow: 1px 1px rgb(211, 90, 211);
}

.botao-letra{
    margin-bottom: 1rem;
    background: white;
    border-radius: 999px;
    padding: 0.75rem 1.75rem;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    
}

.hr{
    width: 100%;
    max-width: 1000px;
    height: 2px;
    background-color: rgb(250, 147, 164);   
}


pre{
    font-size: large;
    color: brown;
}

@media (max-width:768px){
    header{
        padding: 0;
        flex-direction: column;
        position: relative;
    }
    .lista{
        flex-direction: column;
        justify-content: space-around;
        margin: 0.5rem 0.5rem;
    }

    .lista li{
        font-size: 1.3rem;
    }

    .titulo h2{
        padding-top: 1rem;
    }

    #som{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .som-container{
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        padding: 2rem 0;
        flex-wrap: wrap;
        max-width: 200px;
    }

    .foto-doja1 img{
        width: 300px;
        height: 100%;
        align-items: center;
        border-radius: 30px;
        justify-content: center;
    }






}